$RECYCLE.BIN/
.vs/
debug/
release/
x64/
Temp/
bin/32
bin/64

Thumbs.db
ehthumbs.db
Desktop.ini

*.cab
*.msi
*.msm
*.msp
*.lnk

*.jpg
*.zip
*.log
*.pdb
*.exp
*.sdf
*.opensdf
*.db
*.opendb
*.suo
*.exp
*.user
*.iobj
*.ipch
*.ipdb
*.ilk
