.vs/
.vscode/
temp/
bin/32/
bin/64/
x64/
win32/

thumbs.db
ehthumbs.db
desktop.ini

*.cab
*.msi
*.msm
*.msp
*.lnk
*.jpg
*.zip
*.log
*.pdb
*.exp
*.sdf
*.opensdf
*.db
*.opendb
*.suo
*.exp
*.user
*.iobj
*.ipch
*.ipdb
*.ilk
*.obj
*.res
*.tlog
