#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY
	"C", IDM_COPY, CONTROL, VIRTKEY
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
	"F", IDM_FIND, CONTROL, VIRTKEY
	"S", IDM_EXPORT_APPS, CONTROL, VIRTKEY
	"S", IDM_EXPORT_RULES, CONTROL, SHIFT, VIRTKEY
	"O", IDM_IMPORT_APPS, CONTROL, VIRTKEY
	"O", IDM_IMPORT_RULES, CONTROL, SHIFT, VIRTKEY
	"I", IDM_TRAY_LOGSHOW, CONTROL, VIRTKEY
	"T", IDM_PURGE_TIMERS, CONTROL, SHIFT, VIRTKEY
	"X", IDM_TRAY_LOGCLEAR, CONTROL, VIRTKEY
	"X", IDM_PURGE_UNUSED, CONTROL, SHIFT, VIRTKEY
	VK_RETURN, IDM_PROPERTIES, VIRTKEY
	VK_DELETE, IDM_DELETE, VIRTKEY
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDM_SETTINGS, VIRTKEY
	VK_F3, IDM_FINDNEXT, VIRTKEY
	VK_F4, IDM_TRAY_SHOW, ALT, VIRTKEY
	VK_F5, IDM_REFRESH, VIRTKEY
	VK_F11, IDM_ZOOM, VIRTKEY
	VK_F6, 997, VIRTKEY
	VK_F7, 998, VIRTKEY
	VK_F8, 999, VIRTKEY
END

//
// Menu resources
//
IDM_MAIN MENU
BEGIN
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_SETTINGS
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_EXPORT_APPS
			MENUITEM " ", IDM_EXPORT_RULES
		END
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_IMPORT_APPS
			MENUITEM " ", IDM_IMPORT_RULES
		END
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_PURGE_UNUSED
		MENUITEM " ", IDM_PURGE_TIMERS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_FIND
		MENUITEM " ", IDM_FINDNEXT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_AUTOSIZECOLUMNS_CHK
		MENUITEM " ", IDM_SHOWFILENAMESONLY_CHK
		MENUITEM " ", IDM_ENABLESPECIALGROUP_CHK
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_ICONSSMALL
			MENUITEM " ", IDM_ICONSLARGE
			MENUITEM " ", IDM_ICONSEXTRALARGE
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_ICONSISTABLEVIEW
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_ICONSISHIDDEN
		END
		POPUP " "
		BEGIN
			MENUITEM " ", IDX_LANGUAGE
		END
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_FONT
	END
	POPUP " "
	BEGIN
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	END
END

IDM_TRAY MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_START
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_TRAY_ENABLENOTIFICATIONS_CHK
			MENUITEM " ", IDM_TRAY_ENABLENOTIFICATIONSSOUND_CHK
		END
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_TRAY_ENABLELOG_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_TRAY_LOGSHOW
			MENUITEM " ", IDM_TRAY_LOGCLEAR
		END
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_TRAY_LOGSHOW_ERR
			MENUITEM " ", IDM_TRAY_LOGCLEAR_ERR
		END
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	END
END

IDM_APPS MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM " ", IDM_ADD_FILE
		MENUITEM SEPARATOR
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_DISABLENOTIFICATIONS
		END
		POPUP " "
		BEGIN
			MENUITEM " ", IDM_DISABLETIMER
			MENUITEM SEPARATOR
		END
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXPLORE
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PROPERTIES
	END
END

IDM_RULES MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM " ", IDM_OPENRULESEDITOR
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_SELECT_ALL
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PROPERTIES
	END
END

IDM_NETWORK MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM " ", IDM_OPENRULESEDITOR
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_COPY
	END
END

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 348, 196
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
BEGIN
	CONTROL			"", IDC_REBAR, REBARCLASSNAME, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | CCS_NODIVIDER | CCS_TOP | RBS_VARHEIGHT | RBS_AUTOSIZE, 0, 0, 0, 0
	CONTROL			"", IDC_TOOLBAR, TOOLBARCLASSNAME, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | CCS_NOPARENTALIGN | CCS_NORESIZE | CCS_NODIVIDER | TBSTYLE_FLAT | TBSTYLE_LIST | TBSTYLE_TRANSPARENT | TBSTYLE_TOOLTIPS | TBSTYLE_AUTOSIZE, 0, 0, 0, 0

	CONTROL			"", IDC_TAB, WC_TABCONTROL, WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | TCS_MULTILINE, 0, 0, 348, 158

	CONTROL			"", IDC_APPS_PROFILE, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_APPS_SERVICE, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_APPS_PACKAGE, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_RULES_BLOCKLIST, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_RULES_SYSTEM, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_RULES_CUSTOM, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180
	CONTROL			"", IDC_NETWORK, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | NOT WS_VISIBLE, 0, 0, 348, 180

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, SBARS_TOOLTIPS, 0, 0, 0, 0
END

IDD_EDITOR DIALOG 0, 0, 290, 240
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION ""
FONT 8, "Ms Shell Dlg"
BEGIN
	LTEXT			"", IDC_NAME, 8, 6, 132, 10
	EDITTEXT		IDC_NAME_EDIT, 8, 18, 132, 12, ES_AUTOHSCROLL

	LTEXT			"", IDC_RULE_REMOTE, 8, 36, 132, 10
	EDITTEXT		IDC_RULE_REMOTE_EDIT, 8, 48, 132, 12, ES_AUTOHSCROLL | ES_LOWERCASE

	LTEXT			"", IDC_RULE_LOCAL, 8, 66, 132, 10
	EDITTEXT		IDC_RULE_LOCAL_EDIT, 8, 78, 132, 12, ES_AUTOHSCROLL | ES_LOWERCASE

	LTEXT			"", IDC_DIRECTION, 8, 96, 132, 10
	COMBOBOX		IDC_DIRECTION_EDIT, 8, 108, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_PROTOCOL, 8, 126, 132, 10
	COMBOBOX		IDC_PROTOCOL_EDIT, 8, 138, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_PORTVERSION, 8, 156, 132, 10
	COMBOBOX		IDC_PORTVERSION_EDIT, 8, 168, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_ACTION, 8, 186, 132, 10
	COMBOBOX		IDC_ACTION_EDIT, 8, 198, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	AUTORADIOBUTTON	"", IDC_DISABLE_CHK, 150, 18, 246, 10
	AUTORADIOBUTTON	"", IDC_ENABLE_CHK, 150, 30, 246, 10
	AUTORADIOBUTTON	"", IDC_ENABLEFORAPPS_CHK, 150, 42, 246, 10

	CONTROL			"", IDC_APPS_LV, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | WS_VSCROLL | LVS_SHAREIMAGELISTS, 148, 58, 132, 152

	PUSHBUTTON		"", IDC_WIKI, 8, 218, 50, 14, BS_ICON
	PUSHBUTTON		"", IDC_SAVE, 176, 218, 50, 14
	PUSHBUTTON		"", IDC_CLOSE, 230, 218, 50, 14
END

IDD_SETTINGS DIALOGEX 0, 0, 380, 214
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
EXSTYLE WS_EX_APPWINDOW
CAPTION ""
FONT 8, "Ms Shell Dlg"
BEGIN
	CONTROL			"", IDC_NAV, WC_TREEVIEW, TVS_SHOWSELALWAYS | TVS_TRACKSELECT | TVS_FULLROWSELECT | WS_HSCROLL | WS_TABSTOP, 2, 1, 103, 244

	PUSHBUTTON		"", IDC_RESET, 110, 192, 50, 14
	PUSHBUTTON		"", IDC_CLOSE, 322, 192, 50, 14
END

IDD_SETTINGS_GENERAL DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_TITLE_GENERAL, 4, 4, 262, 90

	AUTOCHECKBOX	"", IDC_ALWAYSONTOP_CHK, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_LOADONSTARTUP_CHK, 12, 28, 246, 10
	AUTOCHECKBOX	"", IDC_STARTMINIMIZED_CHK, 12, 40, 246, 10
	AUTOCHECKBOX	"", IDC_SKIPUACWARNING_CHK, 12, 52, 246, 10
	AUTOCHECKBOX	"", IDC_CHECKUPDATES_CHK, 12, 64, 246, 10
	AUTOCHECKBOX	"", IDC_CHECKUPDATESBETA_CHK, 12, 76, 246, 10

	GROUPBOX		"", IDC_TITLE_LANGUAGE, 4, 96, 262, 34

	LTEXT			"", IDC_LANGUAGE_HINT, 12, 110, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_LANGUAGE, 134, 110, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
END

IDD_SETTINGS_INTERFACE DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_TITLE_CONFIRMATIONS, 4, 4, 262, 52

	AUTOCHECKBOX	"", IDC_CONFIRMEXIT_CHK, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_CONFIRMEXITTIMER_CHK, 12, 28, 246, 10
	AUTOCHECKBOX	"", IDC_CONFIRMLOGCLEAR_CHK, 12, 40, 246, 10

	GROUPBOX		"", IDC_TITLE_HIGHLIGHTING, 4, 58, 262, 124

	CONTROL			"", IDC_COLORS, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 12, 70, 246, 92
	LTEXT			"", IDC_COLORS_HINT, 12, 168, 246, 10
END

IDD_SETTINGS_RULES DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_TITLE_GENERAL, 4, 4, 262, 64

	AUTOCHECKBOX	"", IDC_RULE_ALLOWINBOUND, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_RULE_ALLOWLISTEN, 12, 28, 246, 10
	AUTOCHECKBOX	"", IDC_RULE_ALLOWLOOPBACK, 12, 40, 246, 10
	AUTOCHECKBOX	"", IDC_RULE_ALLOW6TO4, 12, 52, 246, 10

	GROUPBOX		"", IDC_TITLE_ADVANCED, 4, 70, 262, 52

	AUTOCHECKBOX	"", IDC_USENETWORKRESOLUTION_CHK, 12, 82, 246, 10
	AUTOCHECKBOX	"", IDC_USECERTIFICATES_CHK, 12, 94, 246, 10
	AUTOCHECKBOX	"", IDC_USEREFRESHDEVICES_CHK, 12, 106, 246, 10

	GROUPBOX		"", IDC_TITLE_EXPERTS, 4, 124, 262, 52

	AUTOCHECKBOX	"", IDC_SECUREFILTERS_CHK, 12, 136, 246, 10
	AUTOCHECKBOX	"", IDC_USESTEALTHMODE_CHK, 12, 148, 246, 10
	AUTOCHECKBOX	"", IDC_INSTALLBOOTTIMEFILTERS_CHK, 12, 160, 246, 10
END

IDD_SETTINGS_NOTIFICATIONS DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_TITLE_NOTIFICATIONS, 4, 4, 262, 74

	AUTOCHECKBOX	"", IDC_ENABLENOTIFICATIONS_CHK, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_NOTIFICATIONSOUND_CHK, 12, 28, 246, 10

	LTEXT			"", IDC_NOTIFICATIONDISPLAYTIMEOUT_HINT, 12, 42, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_NOTIFICATIONDISPLAYTIMEOUT_CTRL, 214, 42, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONDISPLAYTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	LTEXT			"", IDC_NOTIFICATIONTIMEOUT_HINT, 12, 58, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_NOTIFICATIONTIMEOUT_CTRL, 214, 58, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	GROUPBOX		"", IDC_TITLE_EXCLUDE, 4, 80, 262, 42

	AUTOCHECKBOX	"", IDC_EXCLUDEBLOCKLIST_CHK, 12, 92, 246, 12
	AUTOCHECKBOX	"", IDC_EXCLUDECUSTOM_CHK, 12, 104, 246, 12
END

IDD_SETTINGS_LOGGING DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	GROUPBOX		"", IDC_TITLE_LOGGING, 4, 4, 262, 64

	AUTOCHECKBOX	"", IDC_ENABLELOG_CHK, 12, 16, 246, 10

	EDITTEXT		IDC_LOGPATH, 12, 30, 218, 12, ES_AUTOHSCROLL | ES_MULTILINE
	PUSHBUTTON		"...", IDC_LOGPATH_BTN, 234, 30, 24, 12

	LTEXT			"", IDC_LOGSIZELIMIT_HINT, 12, 48, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_LOGSIZELIMIT_CTRL, 214, 48, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_LOGSIZELIMIT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT, 0, 0, 0, 0

	GROUPBOX		"", IDC_TITLE_EXCLUDE, 4, 70, 262, 42

	AUTOCHECKBOX	"", IDC_EXCLUDESTEALTH_CHK, 12, 82, 246, 12
	AUTOCHECKBOX	"", IDC_EXCLUDECLASSIFYALLOW_CHK, 12, 94, 246, 12
END

//
// String resources
//
STRINGTABLE
BEGIN
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "Update available. Download and install now?"
	IDS_UPDATE_DOWNLOAD "Downloading update..."
	IDS_UPDATE_DONE "Downloading update finished."
	IDS_UPDATE_ERROR "Update server connection error."
	IDS_UPDATE_INIT "Checking for new releases..."
	IDS_UPDATE_INSTALL "Update available. Do you want to install it now?"

	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_EXIT "Exit"
	IDS_EDIT "Edit"
	IDS_FIND "Find"
	IDS_FINDNEXT "Find next"
	IDS_PURGE_UNUSED "Purge unused apps"
	IDS_PURGE_ERRORS "Purge invalid apps"
	IDS_PURGE_TIMERS "Purge timers"
	IDS_REFRESH "Refresh"
	IDS_VIEW "View"
	IDS_ICONS "Icons"
	IDS_ICONSSMALL "Small"
	IDS_ICONSLARGE "Large"
	IDS_ICONSISHIDDEN "Hide icons"
	IDS_LANGUAGE "Language"
	IDS_FONT "Font"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_DONATE "Give thanks!"
	IDS_ABOUT "About"

	IDS_TRAY_SHOW "Show/Hide"
	IDS_TRAY_START "Enable filtering"
	IDS_TRAY_STOP "Disable filtering"
	IDS_TRAY_MODE "Mode"
	IDS_TRAY_RULES "Rules"
	IDS_TRAY_BLOCKLIST_RULES "Blocklist"
	IDS_TRAY_SYSTEM_RULES "System rules"
	IDS_TRAY_USER_RULES "User rules"
	IDS_TRAY_LOG "Dropped packets log"
	IDS_TRAY_LOGERR "Errors log"

	IDS_ADD_FILE "Add file"
	IDS_ADD_PROCESS "Add process"
	IDS_ADD_PACKAGE "Add package"
	IDS_ADD_SERVICE "Add service"
	IDS_ALL "All"
	IDS_DISABLENOTIFICATIONS "Disable notifications"
	IDS_OPENRULESEDITOR "Create rule"
	IDS_TIMER "Timer"
	IDS_NOTIMER "No timer"
	IDS_DISABLETIMER "Disable timer"
	IDS_EXPLORE "Open containing folder"
	IDS_COPY "Copy"
	IDS_SELECT_ALL "Select all"
	IDS_CHECK "Enable selected"
	IDS_UNCHECK "Disable selected"
	IDS_PROPERTIES "Properties"

	IDS_ADD "Add"
	IDS_EDIT2 "Edit"
	IDS_DELETE "Delete"
	IDS_EXPORT "Export"
	IDS_IMPORT "Import"

	IDS_MODE_WHITELIST "Whitelist (allow selected)"
	IDS_MODE_BLACKLIST "Blacklist (block selected)"

	IDS_RULE_ALLOWINBOUND "Allow inbound connections for all"
	IDS_RULE_ALLOWINBOUND_HINT "This filtering layer allows for authorizing accept requests for incoming TCP connections, as well as authorizing incoming non-TCP traffic based on the first packet received."
	IDS_RULE_ALLOWLISTEN "Allow listen connections for all"
	IDS_RULE_ALLOWLISTEN_HINT "This filtering layer allows for authorizing TCP listen requests.\r\nWarning: Disabling this option may cause 3rd party applications to freeze."
	IDS_RULE_ALLOWLOOPBACK "Allow loopback connections for all"
	IDS_RULE_ALLOWLOOPBACK_HINT "This allows all loopback traffic."

	IDS_HIGHLIGHT_INVALID "Invalid (file not found or filter problem)"
	IDS_HIGHLIGHT_NETWORK "Shared network app"
	IDS_HIGHLIGHT_PACKAGE "Universal Windows Platform app"
	IDS_HIGHLIGHT_PICO "Pico app"
	IDS_HIGHLIGHT_SERVICE "Windows service"
	IDS_HIGHLIGHT_SIGNED "Signed app"
	IDS_HIGHLIGHT_SILENT "Disabled notifications"
	IDS_HIGHLIGHT_SPECIAL "Special rules"
	IDS_HIGHLIGHT_SYSTEM "System app"
	IDS_HIGHLIGHT_TIMER "Timer app"

	IDS_EDITOR "Rules editor"

	IDS_NAME "Name"
	IDS_DIRECTION "Direction"
	IDS_PROTOCOL "Protocol"
	IDS_PORTVERSION "Family (ports only)"
	IDS_ACTION "Action"
	IDS_RULE "Rule"
	IDS_DATE "Date"
	IDS_FILEPATH "Path"
	IDS_SIGNATURE "Signature"
	IDS_ADDRESS "Address"
	IDS_FILTER "Filter"
	IDS_NOTES "Notes"
	IDS_ADDED "Added"
	//IDS_REGION "Rule application area"
	IDS_TIMELEFT "Time left"

	IDS_SIGN_SIGNED "Signed"
	IDS_SIGN_UNSIGNED "Not signed"

	IDS_GROUP_ALLOWED "Enabled apps"
	IDS_GROUP_SPECIAL_APPS "Apps with special rules"
	IDS_GROUP_BLOCKED "Disabled apps"

	IDS_GROUP_ENABLED "Enabled rules (all apps)"
	IDS_GROUP_SPECIAL "Enabled rules (specific apps)"
	IDS_GROUP_DISABLED "Disabled rules"

	IDS_DIRECTION_1 "Outbound"
	IDS_DIRECTION_2 "Inbound"
	IDS_DIRECTION_3 "Both"

	IDS_ACTION_ALLOW "Allow"
	IDS_ACTION_BLOCK "Block"

	//IDS_RULE_APPLY "[%s] ""%s"" for selected apps"

	IDS_DISABLE_CHK "Disable rule"
	IDS_ENABLE_CHK "Enable for all apps"
	IDS_ENABLEFORAPPS_CHK "Enable for selected apps"

	IDS_WIKI "Help"
	IDS_SAVE "Save"
	IDS_RESET "Reset"
	IDS_CLOSE "Close"

	IDS_SETTINGS_GENERAL "General"

	IDS_TITLE_GENERAL "General configuration"
	IDS_TITLE_LANGUAGE "Language"
	IDS_TITLE_CONFIRMATIONS "Confirmations"
	IDS_TITLE_INTERFACE "Interface"
	IDS_TITLE_HIGHLIGHTING "Highlighting"
	IDS_TITLE_EXPERTS "Experts-only"
	IDS_TITLE_LOGGING "Log to file"
	IDS_TITLE_NOTIFICATIONS "Notifications"
	IDS_TITLE_ADVANCED "Advanced"
	IDS_TITLE_EXCLUDE "Exclude"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_STARTMINIMIZED_CHK "Start minimized"
	IDS_SHOWFILENAMESONLY_CHK "Show filenames only"
	IDS_AUTOSIZECOLUMNS_CHK "Autosize columns"
	IDS_ENABLESPECIALGROUP_CHK "Group apps with special rules"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"
	IDS_CHECKUPDATESBETA_CHK "Update to beta versions"

	IDS_LANGUAGE_HINT "Select language:"

	IDS_USESTEALTHMODE_CHK "Prevent port scanning"
	IDS_USESTEALTHMODE_HINT "Prevent TCP port scanning by silently dropping inbound TCP RST and UDP port scanning by responding to outbound ICMP with ""Destination Unreachable""."
	IDS_INSTALLBOOTTIMEFILTERS_CHK "Enable boot-time filters"
	IDS_INSTALLBOOTTIMEFILTERS_HINT "Prevent data leaks during system startup, even before the ""Base Filtering Engine"" (BFE) service starts."

	IDS_USECERTIFICATES_CHK "Check apps for digital signatures"
	IDS_USENETWORKRESOLUTION_CHK "Resolve network addresses"

	IDS_DISABLEWINDOWSFIREWALL_CHK "Disable Windows Firewall (recommended)"
	IDS_ENABLEWINDOWSFIREWALL_CHK "Enable Windows Firewall (recommended)"

	IDS_CONFIRMEXIT_CHK "Show confirmation dialog on exit"
	IDS_CONFIRMEXITTIMER_CHK "Show confirmation dialog on exit when timers are active"
	IDS_CONFIRMDELETE_CHK "Confirm when deleting applications"
	IDS_CONFIRMLOGCLEAR_CHK "Confirm when clearing the log file"

	IDS_COLORS_HINT "Double-click an item to change it."

	IDS_ENABLELOG_CHK "Enable dropped packets logging to a file"
	IDS_LOGSHOW "Show log"
	IDS_LOGCLEAR "Clear log"

	IDS_LOGSIZELIMIT_HINT "Maximum log size: (kB)"

	IDS_ENABLENOTIFICATIONS_CHK "Enable notifications for dropped packets"
	IDS_NOTIFICATIONSOUND_CHK "Enable notifications sound"
	IDS_NOTIFICATIONDISPLAYTIMEOUT_HINT "Display timeout (sec.):"
	IDS_NOTIFICATIONTIMEOUT_HINT "Timeout between similar notifications (sec.):"
	IDS_EXCLUDESTEALTH_CHK "port scanner"
	IDS_EXCLUDECLASSIFYALLOW_CHK "allowed packets"
	IDS_EXCLUDEBLOCKLIST_CHK "blocklist"
	IDS_EXCLUDECUSTOM_CHK "user rules"

	IDS_RULES_BLOCKLIST_HINT "Special rules to block spying and tracking on Windows."
	IDS_RULES_SYSTEM_HINT "Predefined rules for system services and protocols."
	IDS_RULES_USER_HINT "User rules. <a href=""%s"">Rules editor documentation</a>."

	IDS_NOTIFY_CREATERULE_ADDRESS "Create a rule for address ""%s"""
	IDS_NOTIFY_CREATERULE_PORT "Create a rule for port ""%d"""
	IDS_NOTIFY_DISABLENOTIFICATIONS "Disable notifications for this app"
	IDS_NOTIFY_TOOLTIP "Create a special rule to allow access to an address and/or port for this application."

	IDS_QUESTION "Are you sure?"
	IDS_QUESTION_DELETE "Delete %d item(s)?"
	IDS_QUESTION_START "This will deny network access to apps as defined by the current configuration. Continue?"
	IDS_QUESTION_STOP "This will restore network access for all apps that are currently blocked. Continue?"
	IDS_QUESTION_MODE "Change mode to a ""%s""?"
	IDS_QUESTION_EXIT "Installed filters will continue to work even if you exit. Continue?"
	IDS_QUESTION_EXPERT "This option is for advanced users only. Continue?"
	IDS_QUESTION_TIMER "Timer(s) activated. Timers will only work when the application is running. Exit?"
	IDS_QUESTION_TIMERS "Delete all timers?"
	IDS_QUESTION_RESET "Are you sure you want to reset all application settings?"
	IDS_QUESTION_FLAG_CHK "Do not ask again"

	IDS_STATUS_TOTAL "Total apps: %d"
	IDS_STATUS_SELECTED "%d selected"

	IDS_STATUS_UNUSED_APPS "Unused apps"
	IDS_STATUS_INVALID_APPS "Invalid apps"
	IDS_STATUS_TIMER_APPS "Apps with timer"

	IDS_STATUS_EMPTY "<empty>"

	IDS_STATUS_ERROR "Error occured! Click here for more details or open the log file."
	IDS_STATUS_SYNTAX_ERROR "Syntax error in rule ""%s""!"
	IDS_STATUS_TIMER_DONE "Timer for ""%s"" has expired!"

	IDS_ADDRESS_LOCAL "Source"
	IDS_ADDRESS_REMOTE "Destination"

	IDS_ICONSEXTRALARGE "Extra large"
	IDS_SECUREFILTERS_CHK "Enable protection of installed filters"
	IDS_SECUREFILTERS_HINT "Prevent unauthorized applications from accessing the installed filters."
	IDS_USEREFRESHDEVICES_CHK "Refresh filters when (storage) devices are connected"

	IDS_RULE_ALLOW6TO4 "Allow IPv6 redirections (6to4) for all"
	IDS_RECOMMENDED "recommended"
	IDS_ICONSISTABLEVIEW "Show as table"

	IDS_ACTION_LATER "Block for now and ask me later"

	IDS_ACTION_ALLOW_HINT "Always allow network access for this program"
	IDS_ACTION_BLOCK_HINT "Always block network access for this program"
	IDS_ACTION_LATER_HINT "Do nothing and ask me later"

	IDS_RULE_APPLY_2 "Apply ""%s"" for this app"

	IDS_EDITRULES "Edit rules"

	IDS_TAB_APPS "Apps"
	IDS_TAB_SERVICES "Services"
	IDS_TAB_PACKAGES "Packages"
	IDS_TAB_NETWORK "Network"

	IDS_STATUS_FILTERS_ACTIVE "Filtering are activated!"
	IDS_STATUS_FILTERS_INACTIVE "Filtering is not activated!"
	IDS_STATUS_FILTERS_PROCESSING "Applying filters"

	IDS_STATE "State"
END

//
// RC data
//
IDR_RULES_BLOCKLIST	RCDATA		"..\\bin\\blocklist.xml"
IDR_RULES_SYSTEM	RCDATA		"..\\bin\\rules_system.xml"

//
// PNG resources
//
IDP_ALLOW			PNG		"res\\allow.png"
IDP_BLOCK			PNG		"res\\block.png"
IDP_CHECKED			PNG		"res\\checked.png"
IDP_UNCHECKED		PNG		"res\\unchecked.png"
IDP_MENU			PNG		"res\\menu.png"
IDP_TIMER			PNG		"res\\timer.png"
IDP_RULES			PNG		"res\\rules.png"
IDP_CLOSE			PNG		"res\\close.png"
IDP_SHIELD_ENABLE	PNG		"res\\shield_enable.png"
IDP_SHIELD_DISABLE	PNG		"res\\shield_disable.png"
IDP_REFRESH			PNG		"res\\refresh.png"
IDP_SETTINGS		PNG		"res\\settings.png"
IDP_NOTIFICATIONS	PNG		"res\\notifications.png"
IDP_LOG				PNG		"res\\log.png"
IDP_LOGOPEN			PNG		"res\\log_open.png"
IDP_LOGCLEAR		PNG		"res\\log_clear.png"

//
// Icon resources
//
IDI_MAIN			ICON		"res\\100.ico"
IDI_INACTIVE		ICON		"res\\101.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END
