#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY
	"C", IDM_COPY, CONTROL, VIRTKEY
	"E", IDM_PURGE_ERRORS, CONTROL, SHIFT, VIRTKEY
	"F", IDM_FIND, CONTROL, VIRTKEY
	"I", IDM_LOGSHOW, CONTROL, VIRTKEY
	"T", IDM_PURGE_TIMERS, CONTROL, SHIFT, VIRTKEY
	"X", IDM_LOGCLEAR, CONTROL, VIRTKEY
	"X", IDM_PURGE_UNUSED, CONTROL, SHIFT, VIRTKEY
	VK_DELETE, IDM_DELETE, VIRTKEY
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDM_SETTINGS, VIRTKEY
	VK_F3, IDM_FINDNEXT, VIRTKEY
	VK_F4, IDM_TRAY_SHOW, ALT, VIRTKEY
	VK_F5, IDM_REFRESH, VIRTKEY
	VK_F11, IDM_ZOOM, VIRTKEY
	VK_F6, IDM_NOTIFICATIONTEST, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		POPUP " "
		{
			MENUITEM " ", IDM_EXPORT_APPS
			MENUITEM " ", IDM_EXPORT_RULES
		}
		POPUP " "
		{
			MENUITEM " ", IDM_IMPORT_APPS
			MENUITEM " ", IDM_IMPORT_RULES
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_PURGE_UNUSED
		MENUITEM " ", IDM_PURGE_ERRORS
		MENUITEM " ", IDM_PURGE_TIMERS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_FIND
		MENUITEM " ", IDM_FINDNEXT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_SHOWFILENAMESONLY_CHK
		MENUITEM " ", IDM_AUTOSIZECOLUMNS_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_ICONSSMALL
			MENUITEM " ", IDM_ICONSLARGE
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_ICONSISHIDDEN
		}
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_FONT
	}
	POPUP " "
	{
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_MODEWHITELIST
			MENUITEM " ", IDM_TRAY_MODEBLACKLIST
		}
		POPUP " "
		{
			MENUITEM " ", IDM_ENABLELOG_CHK
			MENUITEM " ", IDM_ENABLENOTIFICATIONS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_LOGSHOW
			MENUITEM " ", IDM_LOGCLEAR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_SETTINGS
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_START
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_MODEWHITELIST
			MENUITEM " ", IDM_TRAY_MODEBLACKLIST
		}
		POPUP " "
		{
			MENUITEM " ", IDM_ADD_FILE
			MENUITEM SEPARATOR
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_PROCESSES
			}
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_PACKAGES
			}
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_SERVICES
			}
		}
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_ENABLELOG_CHK
			MENUITEM " ", IDM_TRAY_ENABLENOTIFICATIONS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_TRAY_LOGSHOW
			MENUITEM " ", IDM_TRAY_LOGCLEAR
		}
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_LOGSHOW_ERR
			MENUITEM " ", IDM_TRAY_LOGCLEAR_ERR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		POPUP " "
		{
			MENUITEM " ", IDM_ADD_FILE
			MENUITEM SEPARATOR
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_PROCESSES
			}
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_PACKAGES
			}
			POPUP " "
			{
				MENUITEM " ", IDM_ALL_SERVICES
			}
		}
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_DISABLENOTIFICATIONS
		}
		POPUP " "
		{
			MENUITEM " ", IDM_DISABLETIMER
			MENUITEM SEPARATOR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH2
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXPLORE
		MENUITEM " ", IDM_COPY
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
	}
}

IDM_EDITOR MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_ADD
		MENUITEM " ", IDM_EDIT
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 280, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, NOT WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS, 0, 0, 308, 128

	PUSHBUTTON		"", IDC_START_BTN, 8, 138, 100, 14
	PUSHBUTTON		"", IDC_SETTINGS_BTN, 144, 138, 66, 14
	PUSHBUTTON		"", IDC_EXIT_BTN, 214, 138, 66, 14

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_EDITOR DIALOG 0, 0, 290, 212
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	LTEXT			"", IDC_NAME, 8, 6, 132, 10
	EDITTEXT		IDC_NAME_EDIT, 8, 18, 132, 12, ES_AUTOHSCROLL

	LTEXT			"", IDC_RULES, 8, 36, 132, 10
	EDITTEXT		IDC_RULES_EDIT, 8, 48, 132, 12, ES_AUTOHSCROLL | ES_LOWERCASE

	LTEXT			"", IDC_DIRECTION, 8, 66, 132, 10
	COMBOBOX		IDC_DIRECTION_EDIT, 8, 78, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_PROTOCOL, 8, 96, 132, 10
	COMBOBOX		IDC_PROTOCOL_EDIT, 8, 108, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_PORTVERSION, 8, 126, 132, 10
	COMBOBOX		IDC_PORTVERSION_EDIT, 8, 138, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_ACTION, 8, 156, 132, 10
	COMBOBOX		IDC_ACTION_EDIT, 8, 168, 132, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_FILES, 150, 6, 132, 10
	CONTROL			"", IDC_FILES_LV, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP | WS_VSCROLL | LVS_SHAREIMAGELISTS, 150, 18, 132, 146

	CONTROL			"", IDC_RULES_WIKI, WC_LINK, 0, 150, 170, 160, 10

	AUTOCHECKBOX	"", IDC_ENABLED_CHK, 8, 190, 160, 14, BS_VCENTER

	PUSHBUTTON		"", IDC_SAVE, 178, 190, 50, 14
	PUSHBUTTON		"", IDC_CLOSE, 232, 190, 50, 14
}

IDD_SETTINGS DIALOGEX 0, 0, 380, 214
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
EXSTYLE WS_EX_APPWINDOW
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_NAV, WC_TREEVIEW, TVS_SHOWSELALWAYS | TVS_TRACKSELECT | TVS_FULLROWSELECT | WS_HSCROLL | WS_TABSTOP, 2, 1, 103, 244

	PUSHBUTTON		"", IDC_CLOSE, 322, 192, 50, 14
}

IDD_SETTINGS_GENERAL DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_GENERAL, 4, 4, 262, 66

	AUTOCHECKBOX	"", IDC_ALWAYSONTOP_CHK, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_LOADONSTARTUP_CHK, 12, 28, 246, 10
	AUTOCHECKBOX	"", IDC_SKIPUACWARNING_CHK, 12, 40, 246, 10
	AUTOCHECKBOX	"", IDC_CHECKUPDATES_CHK, 12, 52, 246, 10

	GROUPBOX		"", IDC_TITLE_LANGUAGE, 4, 72, 262, 34

	LTEXT			"", IDC_LANGUAGE_HINT, 12, 86, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_LANGUAGE, 134, 86, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
}

IDD_SETTINGS_HIGHLIGHTING DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_COLORS, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | NOT WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 272, 166
	LTEXT			"", IDC_COLORS_HINT, 4, 170, 262, 10
}

IDD_SETTINGS_RULES DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_GENERAL, 4, 4, 262, 52

	AUTOCHECKBOX	"", IDC_RULE_ALLOWINBOUND, 12, 16, 246, 10
	AUTOCHECKBOX	"", IDC_RULE_ALLOWLISTEN, 12, 28, 246, 10
	AUTOCHECKBOX	"", IDC_RULE_ALLOWLOOPBACK, 12, 40, 246, 10

	GROUPBOX		"", IDC_TITLE_EXPERTS, 4, 58, 262, 64

	AUTOCHECKBOX	"", IDC_USEFULLBLOCKLIST_CHK, 12, 70, 246, 10
	AUTOCHECKBOX	"", IDC_USESTEALTHMODE_CHK, 12, 82, 246, 10
	AUTOCHECKBOX	"", IDC_INSTALLBOOTTIMEFILTERS_CHK, 12, 94, 246, 10
	AUTOCHECKBOX	"", IDC_PROXYSUPPORT_CHK, 12, 106, 246, 10

	GROUPBOX		"", IDC_TITLE_ADVANCED, 4, 124, 262, 52

	AUTOCHECKBOX	"", IDC_USEHOSTS_CHK, 12, 136, 246, 10
	AUTOCHECKBOX	"", IDC_USECERTIFICATES_CHK, 12, 148, 246, 10
	AUTOCHECKBOX	"", IDC_USENETWORKRESOLUTION_CHK, 12, 160, 246, 10
}

IDD_SETTINGS_RULES_BLOCKLIST DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | NOT WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 272, 166
	LTEXT			"", IDC_RULES_BLOCKLIST_HINT, 4, 170, 262, 10
}

IDD_SETTINGS_RULES_SYSTEM DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | NOT WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 272, 166
	LTEXT			"", IDC_RULES_SYSTEM_HINT, 4, 170, 262, 10
}

IDD_SETTINGS_RULES_CUSTOM DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | NOT WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 272, 166
	CONTROL			"", IDC_RULES_CUSTOM_HINT, WC_LINK, 0, 4, 170, 262, 10
}

IDD_SETTINGS_LOG DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_LOGGING, 4, 4, 262, 74

	AUTOCHECKBOX	"", IDC_ENABLELOG_CHK, 12, 16, 246, 10

	EDITTEXT		IDC_LOGPATH, 12, 30, 218, 12, ES_AUTOHSCROLL | ES_MULTILINE
	PUSHBUTTON		"...", IDC_LOGPATH_BTN, 234, 30, 24, 12

	LTEXT			"", IDC_LOGSIZELIMIT_HINT, 12, 48, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_LOGSIZELIMIT_CTRL, 214, 48, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_LOGSIZELIMIT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT, 0, 0, 0, 0

	AUTOCHECKBOX	"", IDC_LOGBACKUP_CHK, 12, 62, 250, 10

	GROUPBOX		"", IDC_TITLE_NOTIFICATIONS, 4, 80, 262, 90

	AUTOCHECKBOX	"", IDC_ENABLENOTIFICATIONS_CHK, 12, 92, 246, 10
	AUTOCHECKBOX	"", IDC_NOTIFICATIONSOUND_CHK, 12, 104, 246, 10
	AUTOCHECKBOX	"", IDC_NOTIFICATIONNOBLOCKLIST_CHK, 12, 116, 246, 10

	LTEXT			"", IDC_NOTIFICATIONDISPLAYTIMEOUT_HINT, 12, 132, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_NOTIFICATIONDISPLAYTIMEOUT_CTRL, 214, 132, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONDISPLAYTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0

	LTEXT			"", IDC_NOTIFICATIONTIMEOUT_HINT, 12, 148, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_NOTIFICATIONTIMEOUT_CTRL, 214, 148, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_WRAP, 0, 0, 0, 0
}

IDD_SETTINGS_SYSTEM DIALOGEX 107, 0, 272, 186
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_GENERAL, 4, 4, 262, 74
	AUTOCHECKBOX	"", IDC_SYSTEMDISABLENCSI_CHK, 12, 16, 246, 10
	//AUTOCHECKBOX	"Disable Windows Firewall (recommended)", IDC_SYSTEMDISABLEFIREWALL_CHK, 12, 28, 246, 10
}

//
// String resources
//
STRINGTABLE
{
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "New version (%s) available. Open download page?"

	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_EXIT "Exit"
	IDS_EDIT "Edit"
	IDS_PURGE_UNUSED "Purge unused apps"
	IDS_PURGE_ERRORS "Purge invalid apps"
	IDS_PURGE_TIMERS "Purge timers"
	IDS_FIND "Find..."
	IDS_FINDNEXT "Find next"
	IDS_REFRESH "Refresh"
	IDS_VIEW "View"
	IDS_ICONS "Icons"
	IDS_ICONSSMALL "Small"
	IDS_ICONSLARGE "Large"
	IDS_ICONSISHIDDEN "Hide icons"
	IDS_LANGUAGE "Language"
	IDS_FONT "Font..."
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_DONATE "Donate"
	IDS_ABOUT "About"

	IDS_TRAY_SHOW "Show/Hide"
	IDS_TRAY_START "Install filters"
	IDS_TRAY_STOP "Uninstall filters"
	IDS_TRAY_MODE "Mode"
	IDS_TRAY_RULES "Rules"
	IDS_TRAY_BLOCKLIST_RULES "Blocklist"
	IDS_TRAY_SYSTEM_RULES "System rules"
	IDS_TRAY_CUSTOM_RULES "Custom rules"
	IDS_TRAY_LOG "Dropped packets log"
	IDS_TRAY_LOGERR "Errors log"
	IDS_TRAY_SYSTEM "System"

	IDS_ADD_FILE "Add file"
	IDS_ADD_PROCESS "Add process"
	IDS_ADD_PACKAGE "Add package"
	IDS_ADD_SERVICE "Add service"
	IDS_ALL "All"
	IDS_DISABLENOTIFICATIONS "Disable notifications"
	IDS_OPENRULESEDITOR "Create rule"
	IDS_TIMER "Timer"
	IDS_NOTIMER "No timer"
	IDS_EXPLORE "Open containing folder"
	IDS_COPY "Copy"
	IDS_CHECK "Enable selected"
	IDS_UNCHECK "Disable selected"

	IDS_ADD "Add"
	IDS_EDIT2 "Edit"
	IDS_DELETE "Delete"
	IDS_EXPORT "Export"
	IDS_IMPORT "Import"

	IDS_EXPORT_XML "Export"
	IDS_IMPORT_XML "Import"

	IDS_MODE_WHITELIST "Whitelist (allow selected)"
	IDS_MODE_BLACKLIST "Blacklist (block selected)"

	IDS_RULE_ALLOWINBOUND "Allow inbound connections for all (dangerous)"
	IDS_RULE_ALLOWLISTEN "Allow listen connections for all (recommended)"
	IDS_RULE_ALLOWLOOPBACK "Allow loopback connections for all"

	IDS_HIGHLIGHT_INVALID "File not found"
	IDS_HIGHLIGHT_NETWORK "Shared network app"
	IDS_HIGHLIGHT_PACKAGE "Modern UI app"
	IDS_HIGHLIGHT_PICO "Pico app"
	IDS_HIGHLIGHT_SERVICE "Windows service"
	IDS_HIGHLIGHT_SIGNED "Signed app"
	IDS_HIGHLIGHT_SILENT "Disabled notifications"
	IDS_HIGHLIGHT_SPECIAL "Special rules"
	IDS_HIGHLIGHT_SYSTEM "System app"
	IDS_HIGHLIGHT_TIMER "Timer app"

	IDS_EDITOR "Rules editor"

	IDS_NAME "Name"
	IDS_DIRECTION "Direction"
	IDS_PROTOCOL "Protocol"
	IDS_PORTVERSION "Family (ports-only)"
	IDS_ACTION "Action"
	IDS_RULE "Rule"
	IDS_DATE "Date"
	IDS_FILEPATH "Path"
	IDS_SIGNATURE "Signature"
	IDS_ADDRESS "Address"
	IDS_FILTER "Filter"
	IDS_NOTES "Notes"
	IDS_ADDED "Added"
	IDS_APPLYTO "Apply rule to"
	IDS_TIMELEFT "Time left"

	IDS_SIGN_SIGNED "Signed"
	IDS_SIGN_UNSIGNED "Not signed"

	IDS_GROUP_ALLOWED "Allowed apps"
	IDS_GROUP_BLOCKED "Blocked apps"

	IDS_GROUP_ENABLED "Enabled rules (for all)"
	IDS_GROUP_SPECIAL "Enabled rules (for apps)"
	IDS_GROUP_DISABLED "Disabled rules"

	IDS_DIRECTION_1 "Outbound"
	IDS_DIRECTION_2 "Inbound"
	IDS_DIRECTION_3 "Both"

	IDS_ACTION_1 "Allow"
	IDS_ACTION_2 "Block"
	IDS_ACTION_3 "Next"
	IDS_ACTION_4 "Apply"

	IDS_RULE_APPLY "[%s] ""%s"" for selected apps"
	IDS_RULES_WIKI "<a href=""%s"">Rules editor documentation</a>"

	IDS_ENABLERULE_CHK "Enable rule"

	IDS_SETTINGS_1 "General"

	IDS_SAVE "Save"
	IDS_CLOSE "Close"

	IDS_TITLE_GENERAL "General configuration"
	IDS_TITLE_LANGUAGE "Language"
	IDS_TITLE_CONFIRMATIONS "Confirmations"
	IDS_TITLE_HIGHLIGHTING "Highlighting"
	IDS_TITLE_EXPERTS "Experts-only"
	IDS_TITLE_LOGGING "Logging to a file"
	IDS_TITLE_NOTIFICATIONS "Notifications (whitelist only)"
	IDS_TITLE_ADVANCED "Advanced"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_SHOWFILENAMESONLY_CHK "Show filenames only"
	IDS_AUTOSIZECOLUMNS_CHK "Autosize columns"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_LANGUAGE_HINT "Select language:"

	IDS_USEFULLBLOCKLIST_CHK "Enable blocklist extra rules"
	IDS_USEFULLBLOCKLIST_HINT "Extra rules are extend blocklist features."
	IDS_USESTEALTHMODE_CHK "Enable stealth-mode"
	IDS_USESTEALTHMODE_HINT "Prevent port scanning using silent drop inbound TCP RST and outbound ICMP ""Destination Unreachable"" to prevent UDP port scanning."
	IDS_INSTALLBOOTTIMEFILTERS_CHK "Enable boot-time filters"
	IDS_INSTALLBOOTTIMEFILTERS_HINT "Prevent data leak during system startup, even before ""Base Filtering Engine"" (BFE) service starts."
	IDS_PROXYSUPPORT_CHK "Enable proxy support"
	IDS_PROXYSUPPORT_HINT "Blocks all proxy connections. It may incompatible with thirdparty software."

	IDS_USEHOSTS_CHK "Allow hosts support for rules"
	IDS_USECERTIFICATES_CHK "Check apps for digital signatures"
	IDS_USENETWORKRESOLUTION_CHK "Resolve network addresses"

	IDS_DISABLEWINDOWSFIREWALL_CHK "Disable Windows Firewall (recommended)"
	IDS_ENABLEWINDOWSFIREWALL_CHK "Enable Windows Firewall (recommended)"

	IDS_CONFIRMEXIT_CHK "Show confirmation dialog on exit"
	IDS_CONFIRMDELETE_CHK "Confirm when deleting applications"
	IDS_CONFIRMLOGCLEAR_CHK "Confirm when clearing log"

	IDS_COLORS_HINT "Double-click an item to change it."

	IDS_ENABLELOG_CHK "Enable dropped packets logging to a file"
	IDS_LOGSHOW "Show log"
	IDS_LOGCLEAR "Clear log"

	IDS_LOGSIZELIMIT_HINT "Maximum log size: (kB)"
	IDS_LOGBACKUP_CHK "Backup log file before truncate"

	IDS_ENABLENOTIFICATIONS_CHK "Enable dropped packets notifications"
	IDS_NOTIFICATIONSOUND_CHK "Enable notifications sound"
	IDS_NOTIFICATIONDISPLAYTIMEOUT_HINT "Display timeout (sec.)"
	IDS_NOTIFICATIONTIMEOUT_HINT "Timeout between same notifications (sec.):"
	IDS_NOTIFICATIONNOBLOCKLIST_CHK "Exclude blocklist rules"

	IDS_RULES_BLOCKLIST_HINT "Special rules to block spying and tracking on Windows."
	IDS_RULES_SYSTEM_HINT "Predefined rules applied for system services and protocols."
	IDS_RULES_CUSTOM_HINT "Your rules. <a href=""%s"">Rules editor documentation</a>."

	IDS_NOTIFY_CREATERULE_ADDRESS "Create a rule for ""%s"" address"
	IDS_NOTIFY_CREATERULE_PORT "Create a rule for ""%d"" port"
	IDS_NOTIFY_CREATERULE_TEMP "Create temporary rule"
	IDS_NOTIFY_DISABLENOTIFICATIONS "Disable notifications for this app"
	IDS_NOTIFY_TOOLTIP "Create a special rule to allow access to address and/or port for this application."

	IDS_SYSTEMDISABLENCSI_CHK "Disable Microsoft NCSI (recommended)"
	IDS_SYSTEMDISABLENCSI_HINT_CHK "Windows check a Microsoft site for connectivity, using the NCSI (Network Connectivity Status Indicator) feature. NCSI performs a DNS lookup on ""www.msftncsi.com"" and sends a DNS lookup request for ""dns.msftncsi.com""."

	IDS_QUESTION "Are you sure?"
	IDS_QUESTION_DELETE "Delete %d item(s)?"
	IDS_QUESTION_START "This will forbid network access for apps accordingly selected configuration! Do you want to continue?"
	IDS_QUESTION_STOP "This will restore network access for all blocked apps! Do you want to continue?"
	IDS_QUESTION_MODE "Change mode to a ""%s""?"
	IDS_QUESTION_EXIT "Do you want to exit? All current installed filters are still works, even if you exit."
	IDS_QUESTION_LISTEN "Disabling listen connections <a href=""%s"">can cause software freezes</a>, disable option?"
	IDS_QUESTION_EXPERT "This option definitely for advanced users only! Do you want to continue?"
	IDS_QUESTION_TIMER "One or more timers are active, exit?"
	IDS_QUESTION_TIMERS "Delete all timer(s)?"
	IDS_QUESTION_FLAG_CHK "Do not ask again"

	IDS_STATUS_TOTAL "Total apps: %d"
	IDS_STATUS_SELECTED "%d selected"

	IDS_STATUS_EMPTY "<empty>"

	IDS_STATUS_ERROR "Error occured, click here to see details or open log file in application directory!"
	IDS_STATUS_SYNTAX_ERROR "Syntax error in rule ""%s""!"
}

//
// RC data
//
IDR_RULES_BLOCKLIST			RCDATA		"..\\bin\\blocklist.xml"
IDR_RULES_SYSTEM			RCDATA		"..\\bin\\rules_system.xml"

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"
IDI_INACTIVE	ICON		"res\\101.ico"
IDI_ALLOW		ICON		"res\\allow_btn.ico"
IDI_BLOCK		ICON		"res\\block_btn.ico"
IDI_MUTE		ICON		"res\\mute_btn.ico"
IDI_CLOSE		ICON		"res\\close_btn.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
