#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY
	"C", IDM_COPY, CONTROL, VIRTKEY
	"F", IDM_FIND, CONTROL, VIRTKEY
	"I", IDM_LOGSHOW, CONTROL, VIRTKEY
	"P", IDM_SETTINGS, CONTROL, VIRTKEY
	"X", IDM_LOGCLEAR, CONTROL, VIRTKEY
	VK_DELETE, IDM_DELETE, VIRTKEY
	VK_DELETE, IDM_PURGEN, CONTROL, VIRTKEY
	VK_F3, IDM_FINDNEXT, VIRTKEY
	VK_F4, IDM_TRAY_SHOW, ALT, VIRTKEY
	VK_F5, IDM_REFRESH, VIRTKEY
	VK_F11, IDM_ZOOM, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_ADD_FILE
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_EXPORT_APPS
			MENUITEM " ", IDM_EXPORT_RULES
		}
		POPUP " "
		{
			MENUITEM " ", IDM_IMPORT_APPS
			MENUITEM " ", IDM_IMPORT_RULES
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_PURGEN
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_FIND
		MENUITEM " ", IDM_FINDNEXT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_SHOWFILENAMESONLY_CHK
		MENUITEM " ", IDM_AUTOSIZECOLUMNS_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_ICONSSMALL
			MENUITEM " ", IDM_ICONSLARGE
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_ICONSISHIDDEN
		}
		POPUP " "
		{
			MENUITEM " ", IDM_LANGUAGE
		}
	}
	POPUP " "
	{
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_MODEWHITELIST
			MENUITEM " ", IDM_TRAY_MODEBLACKLIST
		}
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_USEBLOCKLIST_CHK
			MENUITEM " ", IDM_STEALTHMODE_CHK
			MENUITEM " ", IDM_INSTALLBOOTTIMEFILTERS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_RULE_ALLOWINBOUND
		}
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM " ", IDM_ENABLELOG_CHK
			MENUITEM " ", IDM_ENABLENOTIFICATIONS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_LOGSHOW
			MENUITEM " ", IDM_LOGCLEAR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_SETTINGS
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_DONATE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_START
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_MODEWHITELIST
			MENUITEM " ", IDM_TRAY_MODEBLACKLIST
		}
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_USEBLOCKLIST_CHK
			MENUITEM " ", IDM_TRAY_STEALTHMODE_CHK
			MENUITEM " ", IDM_TRAY_INSTALLBOOTTIMEFILTERS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_TRAY_RULE_ALLOWINBOUND
		}
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM " ", IDM_TRAY_ENABLELOG_CHK
			MENUITEM " ", IDM_TRAY_ENABLENOTIFICATIONS_CHK
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_TRAY_LOGSHOW
			MENUITEM " ", IDM_TRAY_LOGCLEAR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_ADD_FILE
		POPUP " "
		{
			MENUITEM " ", IDM_ALL
		}
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_DISABLENOTIFICATIONS
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH2
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXPLORE
		MENUITEM " ", IDM_COPY
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
	}
}

IDM_EDITOR MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_ADD
		MENUITEM " ", IDM_EDIT
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECKALL
		MENUITEM " ", IDM_UNCHECKALL
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 308, 226
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, NOT WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS, 0, 0, 308, 168

	PUSHBUTTON		"", IDC_START_BTN, 8, 178, 100, 14
	PUSHBUTTON		"", IDC_SETTINGS_BTN, 144, 178, 66, 14
	PUSHBUTTON		"", IDC_EXIT_BTN, 214, 178, 66, 14

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_EDITOR DIALOG 0, 0, 302, 190
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	LTEXT			"", IDC_NAME, 8, 8, 116, 10
	EDITTEXT		IDC_NAME_EDIT, 8, 20, 116, 12, ES_AUTOHSCROLL

	LTEXT			"", IDC_DIRECTION, 8, 40, 116, 10
	COMBOBOX		IDC_DIRECTION_EDIT, 8, 52, 116, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_PROTOCOL, 8, 72, 116, 10
	COMBOBOX		IDC_PROTOCOL_EDIT, 8, 84, 116, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_IPVERSION, 8, 104, 116, 10
	COMBOBOX		IDC_IPVERSION_EDIT, 8, 116, 116, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_ACTION, 8, 136, 116, 10
	COMBOBOX		IDC_ACTION_EDIT, 8, 148, 116, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	LTEXT			"", IDC_RULES, 134, 8, 160, 10
	EDITTEXT		IDC_RULES_EDIT, 134, 20, 160, 46, WS_VSCROLL | ES_MULTILINE | ES_MULTILINE

	CONTROL			"", IDC_RULES_HELP, WC_LINK, 0, 134, 74, 160, 88

	AUTOCHECKBOX	"", IDC_ENABLED_CHK, 8, 170, 80, 14, BS_VCENTER

	PUSHBUTTON		"", IDC_APPLY, 190, 170, 50, 14
	PUSHBUTTON		"", IDC_CLOSE, 244, 170, 50, 14
}

IDD_SETTINGS DIALOGEX 0, 0, 380, 214
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_NAV, WC_TREEVIEW, WS_BORDER | WS_TABSTOP | TVS_SHOWSELALWAYS | TVS_TRACKSELECT | TVS_LINESATROOT | TVS_HASLINES | TVS_INFOTIP | TVS_HASBUTTONS, 8, 8, 94, 198

	PUSHBUTTON		"", IDC_APPLY, 268, 192, 50, 14
	PUSHBUTTON		"", IDC_CLOSE, 322, 192, 50, 14
}

IDD_SETTINGS_1 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_1, 0, 0, 262, 68

	AUTOCHECKBOX	"", IDC_ALWAYSONTOP_CHK, 8, 14, 246, 10
	AUTOCHECKBOX	"", IDC_LOADONSTARTUP_CHK, 8, 26, 246, 10
	AUTOCHECKBOX	"", IDC_SKIPUACWARNING_CHK, 8, 38, 246, 10
	AUTOCHECKBOX	"", IDC_CHECKUPDATES_CHK, 8, 50, 246, 10

	GROUPBOX		"", IDC_TITLE_2, 0, 70, 262, 36

	LTEXT			"", IDC_LANGUAGE_HINT, 8, 84, 114, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_LANGUAGE, 130, 84, 124, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
}

IDD_SETTINGS_2 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_7, 0, 0, 262, 124

	AUTOCHECKBOX	"", IDC_USEBLOCKLIST_CHK, 8, 14, 246, 10
	LTEXT "", IDC_USEBLOCKLIST_HINT, 8, 28, 246, 18

	AUTOCHECKBOX	"", IDC_USESTEALTHMODE_CHK, 8, 50, 246, 10
	LTEXT "", IDC_USESTEALTHMODE_HINT, 8, 64, 246, 18

	AUTOCHECKBOX	"", IDC_INSTALLBOOTTIMEFILTERS_CHK, 8, 86, 246, 10
	LTEXT "", IDC_INSTALLBOOTTIMEFILTERS_HINT, 8, 100, 246, 18

	GROUPBOX		"", IDC_TITLE_6, 0, 126, 262, 50

	AUTOCHECKBOX	"", IDC_RULE_ALLOWINBOUND, 8, 140, 246, 10
	LTEXT "", IDC_RULE_ALLOWINBOUND_HINT, 8, 154, 246, 16
}

IDD_SETTINGS_3 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_3, 0, 0, 262, 58

	AUTOCHECKBOX	"", IDC_CONFIRMEXIT_CHK, 8, 14, 246, 10
	AUTOCHECKBOX	"", IDC_CONFIRMDELETE_CHK, 8, 26, 246, 10
	AUTOCHECKBOX	"", IDC_CONFIRMLOGCLEAR_CHK, 8, 38, 246, 10

	GROUPBOX		"", IDC_TITLE_5, 0, 60, 262, 116

	CONTROL			"", IDC_COLORS, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 8, 74, 246, 78

	LTEXT			"", IDC_COLORS_HINT, 8, 158, 246, 10
}

IDD_SETTINGS_4 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_1, 0, 0, 262, 78

	AUTOCHECKBOX	"", IDC_ENABLELOG_CHK, 8, 14, 246, 10

	EDITTEXT		IDC_LOGPATH, 8, 28, 192, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"...", IDC_LOGPATH_BTN, 204, 28, 24, 12
	PUSHBUTTON		">", IDC_LOGPATH_BTN2, 230, 28, 24, 12

	LTEXT			"", IDC_LOGSIZELIMIT_HINT, 8, 46, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_STATIC, 210, 46, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_LOGSIZELIMIT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT, 0, 0, 0, 0

	AUTOCHECKBOX	"", IDC_LOGBACKUP_CHK, 8, 60, 246, 10

	GROUPBOX		"", IDC_TITLE_4, 0, 80, 262, 74

	AUTOCHECKBOX	"", IDC_ENABLENOTIFICATIONS_CHK, 8, 94, 246, 10
	AUTOCHECKBOX	"", IDC_NOTIFICATIONSILENT_CHK, 8, 106, 246, 10

	LTEXT			"", IDC_NOTIFICATIONDISPLAYTIMEOUT_HINT, 8, 118, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_STATIC, 210, 118, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONDISPLAYTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT, 0, 0, 0, 0

	LTEXT			"", IDC_NOTIFICATIONTIMEOUT_HINT, 8, 132, 194, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_STATIC, 210, 132, 44, 12, ES_AUTOHSCROLL | ES_NUMBER | ES_MULTILINE
	CONTROL			"", IDC_NOTIFICATIONTIMEOUT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT, 0, 0, 0, 0
}

IDD_SETTINGS_5 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 262, 148
	LTEXT			"", IDC_RULES_SYSTEM_HINT, 0, 154, 262, 20
}

IDD_SETTINGS_6 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 262, 148
	LTEXT			"", IDC_RULES_CUSTOM_HINT, 0, 154, 262, 20
}

IDD_SETTINGS_7 DIALOGEX 110, 8, 262, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU | WS_TABSTOP
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EDITOR, WC_LISTVIEW, LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_SHAREIMAGELISTS | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 0, 0, 262, 148
	CONTROL			"", IDC_RULES_BLOCKLIST_HINT, WC_LINK, 0, 0, 154, 262, 20
}

//
// String resources
//
STRINGTABLE
{
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "New version (%s) available. Open download page?"

	IDS_DONATE "Donate"
	IDS_DONATE_TEXT "Development is powered by your donations!"
	IDS_SHOWATSTARTUP_CHK "Show at startup"

	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_EXIT "Exit"
	IDS_EDIT "Edit"
	IDS_PURGEN "Purge invalid apps"
	IDS_FIND "Find..."
	IDS_FINDNEXT "Find next"
	IDS_REFRESH "Refresh"
	IDS_VIEW "View"
	IDS_ICONS "Icons"
	IDS_ICONSSMALL "Small"
	IDS_ICONSLARGE "Large"
	IDS_ICONSISHIDDEN "Hide icons"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"

	IDS_TRAY_SHOW "Show/Hide"
	IDS_TRAY_START "Install filters"
	IDS_TRAY_STOP "Uninstall filters"
	IDS_TRAY_MODE "Mode"
	IDS_TRAY_FILTERS "Filters"
	IDS_TRAY_BLOCKLIST_RULES "Blocklist"
	IDS_TRAY_SYSTEM_RULES "System rules"
	IDS_TRAY_CUSTOM_RULES "Custom rules"
	IDS_TRAY_LOG "Dropped packets log"

	IDS_ADD_FILE "Add file..."
	IDS_ADD_PROCESS "Add process"
	IDS_ALL "All"
	IDS_DISABLENOTIFICATIONS "Disable notifications"
	IDS_OPENRULESEDITOR "Create rule..."
	IDS_EXPLORE "Open containing folder"
	IDS_COPY "Copy"
	IDS_CHECKALL "Check all"
	IDS_UNCHECKALL "Uncheck all"
	IDS_CHECK "Check selected"
	IDS_UNCHECK "Uncheck selected"

	IDS_ADD "Add..."
	IDS_EDIT2 "Edit..."
	IDS_DELETE "Delete"
	IDS_EXPORT "Export"
	IDS_IMPORT "Import"

	IDS_EXPORT_APPS "Export apps... (%s)"
	IDS_EXPORT_RULES "Export rules... (%s)"

	IDS_IMPORT_APPS "Import apps... (%s)"
	IDS_IMPORT_RULES "Import rules... (%s)"

	IDS_MODE_WHITELIST "White list (allow selected)"
	IDS_MODE_BLACKLIST "Black list (block selected)"

	IDS_RULE_ALLOWINBOUND "Allow inbound connections for all"
	IDS_RULE_ALLOWINBOUND_HINT "Allow recieving incoming data for all apps (leak data possible)"

	IDS_HIGHLIGHT_CUSTOM "Custom rules"
	IDS_HIGHLIGHT_INVALID "File not found"
	IDS_HIGHLIGHT_NETWORK "Shared network file"
	IDS_HIGHLIGHT_PICO "Pico app"
	IDS_HIGHLIGHT_SILENT "Disabled notifications"
	IDS_HIGHLIGHT_SYSTEM "System app"

	IDS_EDITOR "Rules editor"

	IDS_NAME "Name"
	IDS_DIRECTION "Direction"
	IDS_PROTOCOL "Protocol"
	IDS_IPVERSION "Version"
	IDS_ACTION "Action"
	IDS_RULE "Rule"
	IDS_DATE "Date"
	IDS_FILEPATH "File"
	IDS_ADDRESS "Address"
	IDS_FILTER "Filter"
	IDS_NOTES "Notes"
	IDS_ADDED "Added"

	IDS_GROUP_ALLOWED "Allowed apps"
	IDS_GROUP_BLOCKED "Blocked apps"

	IDS_GROUP_ENABLED "Enabled rules"
	IDS_GROUP_SPECIAL "Special rules"
	IDS_GROUP_DISABLED "Disabled rules"

	IDS_DIRECTION_1 "Outbound"
	IDS_DIRECTION_2 "Inbound"
	IDS_DIRECTION_3 "Both"

	IDS_ACTION_1 "Allow"
	IDS_ACTION_2 "Block"

	IDS_RULE_TITLE_1 "[%s] ""%s"" for all"
	IDS_RULE_TITLE_2 "[%s] ""%s"" for this app"

	IDS_RULES_HELP "Ip: 192.168.0.1\r\nIP with port: 192.168.0.1:80\r\nIP range: 192.168.0.1-192.168.0.55\r\nIP with prefix length (CIDR): 192.168.0.1/16\r\nHost: www.example.com\r\nHost with port: www.example.com:80\r\nPorts: 21, 21-44\r\n\r\n<a href=""https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xml"">Service name and port number registry</a>\r\n<a href=""https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing#IPv4_CIDR_blocks"">Classless Inter-Domain Routing (CIDR) prefixes</a>"

	IDS_ENABLED_CHK "Enable"

	IDS_SETTINGS_1 "General"
	IDS_SETTINGS_3 "Interface"

	IDS_APPLY "Apply"
	IDS_CLOSE "Close"

	IDS_TITLE_1 "General configuration:"
	IDS_TITLE_2 "Language:"
	IDS_TITLE_3 "Confirmations:"
	IDS_TITLE_4 "Notifications:"
	IDS_TITLE_5 "Highlighting:"
	IDS_TITLE_6 "Advanced:"
	IDS_TITLE_7 "Experts-only:"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_SHOWFILENAMESONLY_CHK "Show filenames only"
	IDS_AUTOSIZECOLUMNS_CHK "Autosize columns"
	IDS_SKIPUACWARNING_CHK "Skip ""User Account Control"" prompt warning"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_LANGUAGE_HINT "Select language:"

	IDS_USEBLOCKLIST_CHK "Enable blocklist (experts-only)"
	IDS_USEBLOCKLIST_HINT "Apply special rules to block spying in Windows. List of rules available in ""Blocklist"" page."
	IDS_USESTEALTHMODE_CHK "Enable stealth-mode (experts-only)"
	IDS_USESTEALTHMODE_HINT "Prevent port scanning using silent drop inbound TCP RST and outbound ICMP ""Destination Unreachable"" to prevent UDP port scanning."
	IDS_INSTALLBOOTTIMEFILTERS_CHK "Install boot-time filters (experts-only)"
	IDS_INSTALLBOOTTIMEFILTERS_HINT "Prevent data leak during system startup, even before ""Base Filtering Engine"" (BFE) service starts."

	IDS_DISABLEWINDOWSFIREWALL_CHK "Disable Windows Firewall (recommended)"
	IDS_ENABLEWINDOWSFIREWALL_CHK "Enable Windows Firewall (recommended)"

	IDS_CONFIRMEXIT_CHK "Show confirmation dialog on exit"
	IDS_CONFIRMDELETE_CHK "Confirm when deleting applications"
	IDS_CONFIRMLOGCLEAR_CHK "Confirm when clearing log"

	IDS_COLORS_HINT "Double-click an item to change it."

	IDS_ENABLELOG_CHK "Enable dropped packets logging to a file"
	IDS_LOGSHOW "Show log"
	IDS_LOGCLEAR "Clear log"

	IDS_LOGSIZELIMIT_HINT "Maximum log size: (mb.)"
	IDS_LOGBACKUP_CHK "Backup log file before truncate"

	IDS_ENABLENOTIFICATIONS_CHK "Enable dropped packets notifications"
	IDS_NOTIFICATIONSILENT_CHK "Silent notification (no sound)"
	IDS_NOTIFICATIONDISPLAYTIMEOUT_HINT "Display timeout (sec.)"
	IDS_NOTIFICATIONTIMEOUT_HINT "Timeout between same notifications (sec.):"

	IDS_RULES_BLOCKLIST_HINT "Special rules to block spying and tracking on Windows.\r\nLatest version always <a href=""https://github.com/henrypp/simplewall/blob/master/bin/blocklist.xml"">here (GitHub)</a>."
	IDS_RULES_SYSTEM_HINT "Predefined rules applied for system services and protocols."
	IDS_RULES_CUSTOM_HINT "Custom rules with high priority."

	IDS_NOTIFY_CREATERULE_ADDRESS "Create a rule for ""%s"" address"
	IDS_NOTIFY_CREATERULE_PORT "Create a rule for ""%d"" port"
	IDS_NOTIFY_DISABLENOTIFICATIONS "Disable notifications for ""%s"""
	IDS_NOTIFY_TOOLTIP "Create a rule to allow/block access to address and/or port for this application."

	IDS_ALWAYSPERFORMTHISCHECK_CHK "Always perform this check"

	IDS_QUESTION "Are you sure?"
	IDS_QUESTION_START "This will forbid network access for apps accordingly selected configuration! Do you want to continue?"
	IDS_QUESTION_STOP "This will restore network access for all blocked apps! Do you want to continue?"
	IDS_QUESTION_EXIT "Do you really want to exit?"

	IDS_STATUS_TOTAL "Total apps: %d"
	IDS_STATUS_SELECTED "%d selected"

	IDS_STATUS_EMPTY "<empty>"

	IDS_STATUS_ERROR "Error occured, click here to see details or open log file in application directory!"
	IDS_STATUS_SYNTAX_ERROR "Syntax error in rule ""%s""!"
}

//
// RC data
//
IDR_RULES_BLOCKLIST			RCDATA		"..\\bin\\blocklist.xml"
IDR_RULES_SYSTEM			RCDATA		"..\\bin\\rules_system.xml"

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"
IDI_INACTIVE	ICON		"res\\101.ico"
IDI_ALLOW		ICON		"res\\102.ico"
IDI_BLOCK		ICON		"res\\103.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
